body, html {
	height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
nav a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
}
nav a:hover {
    color: #4CAF50;
}

a {
    display: inline-block; /* Keeps links inline but allows width and height settings */
    margin-right: 10px; /* Adds space between the image links */
}

.container {
    display: flex;
    height: 100%;
}

#left-panel {
    background-color: #f4f4f4;
    width: 30%;
    padding: 20px;
}

#right-panel {
    background-color: #ddd;
    flex-grow: 1;
    width: 70%;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    a {
        display: block; /* Stacks the links vertically on smaller screens */
        margin-bottom: 10px;
    }
}